<% layout("/layouts/boilerplate") %>
<body>

     <!-- <h3>All Listings:</h3> -->
    <!-- <form method="GET" action="/listings/new">
        <button>Create new list</button>
    </form> --> 




    <div id="filters">
      <div class="filter">
        <a class="filter-link" href="/listings">
          <div><i class="fa-solid fa-fire"></i></div>
          <p>Trending</p>
        </a>
      </div>
       <div class="filter">
        <a class="filter-link" href="/listings/category/Rooms">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </a>
       </div>
       <div class="filter">
        <a class="filter-link" href="/listings/category/Iconic cities">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic cities</p>
      </a>
       </div>
        <div class="filter">
          <a class="filter-link" href="/listings/category/Mountains">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
      </a>
       </div>
       <div class="filter">
        <a class="filter-link" href="/listings/category/Pools">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing pools</p>
      </a>
       </div>
       
       <div class="filter">
        <a class="filter-link" href="/listings/category/Farms">
        <div><i class="fa-brands fa-cow"></i></div>
        <p>Farms</p>
        </a>
       </div> <div class="filter">
        <a  class="filter-link" href="/listings/category/Arctic">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p>Arctic</p>
      </a>
       </div>
       <div class="filter">
        <a class="filter-link" href="/listings/category/Domes">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Domes</p>
      </a>
       </div> <div class="filter">
        <a class="filter-link" href="/listings/category/House boats">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>House boats</p>
      </a>
       </div>
       <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">&nbsp; Display total after taxes</label>
        </div>
       </div>
    </div>
    <!-- row-cols-lg-3 row-cols-md-2 row-cols-sm-1 for how many cards display within a row with differnent screen width -->
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 mt-2">
        <% for(let listing of allListings){ %>
            <a class="listing-link" href="/listings/<%= listing._id %>">
            <div class="card listing-card w-100 w-sm-75 w-md-50 w-lg-25 gap-1 gap-sm-2 gap-md-3 gap-lg-4">
              
                <img src="<%= listing.image.url %>" class="card-img-top card-img" alt="listing-img" style="height: 20rem;">
                <!-- Set all image height to 20rem -->
                <div class="card-img-overlay"><i class="fa-regular fa-compass"></i></div>

                <div class="card-body">
                  <p class="card-text mt-3"><b><%= listing.title %></b></p>
                   <p> &#x20B9;<%= listing.price.toLocaleString("en-IN") %> /night 
                    <i class="tax-info"> &nbsp; &nbsp; +18% GST</i></p> 
                  <hr>
                  <span class="badge-category">
                    <%= listing.category %>
                  </span>
                </div>
            
              </div>
            </a>
              <% } %>
    </div>
</body>
<script>
   let taxSwitch = document.getElementById("flexSwitchCheckDefault");
   taxSwitch.addEventListener("click", ()=>{
     let taxInfo = document.getElementsByClassName("tax-info");
     for(info of taxInfo){
      if(info.style.display != "inline"){
       info.style.display = "inline";
     }
      else{
        info.style.display = "none";
      }
    }
   });
</script>